		<div class="col-lg-2 col-12 d-lg-block d-none">
			<div class="sidenav">
			<div class="row">
				<div class="col-lg-12 col-6 ">
                        <a href="/"><img src="https://res.cloudinary.com/aseed/image/upload/v1568370850/Le_Geste_Citoyen_Logo_Couleur_dy6ygy.jpg" class="img-fluid"></a>
                </div>
                <%=render 'menus/menuv'%>
                <div class="col-lg-12">
                	<img class="img-fluid" src="https://res.cloudinary.com/aseed/image/upload/v1572125275/NYR_Rightrail_Sept18_Failsafe_eu8sqn.png">
                </div>
				<div class="col-lg-12">
                	<img class="img-fluid" src="https://res.cloudinary.com/aseed/image/upload/v1572125275/NYR_Rightrail_Sept18_Failsafe_eu8sqn.png">
                </div>
			</div>
				</div>
		</div>