<div class="container-fluid" style="height:200px;border-top:solid 1px #f2f2f2;">
	<div class="row">
		<hr>
		    <div class="col-lg-3 col-6 offset-lg-2  order-xl-first  order-lg-first order-md-first  order-first m-top-xs">
                        <a href="/">
							<img src="https://res.cloudinary.com/aseed/image/upload/v1568370850/Le_Geste_Citoyen_Logo_Couleur_dy6ygy.jpg" class="img-fluid logo">
				</a>
				<p class="text-footer"><small>&copy; 2019, Le Geste Citoyen</small></p>
                </div>
	</div>
</div>